$color_1: #f0f0f0;
$color_2: #4490ca;
$color_3: #000000;
$color_4: #dbdbdb;
$color_5: #dedede;
$color_6: #969696;
$color_7: #959595;
$color_8: #ffffff;
$color_9: #646464;
$color_10: #010101;
$color_11: #f4f4f4;